torch>=2.0.0
torchvision
cupy-cuda12x==13.6.0
transformers==4.46.2
controlnet-aux==0.0.7
imageio==2.37.2
imageio[ffmpeg]
safetensors==0.7.0
einops==0.8.1
sentencepiece==0.2.1
protobuf==6.33.4
modelscope==1.33.0
ftfy==6.3.1
matplotlib==3.10.8
onnxruntime==1.23.2
lightning==2.6.0
pandas==2.3.3
peft==0.18.1
deepspeed==0.18.4
